<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613091252826-bmf6dp10hqjas3mdg5oam017hcedpr1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613091252826-bmf6dp10hqjas3mdg5oam017hcedpr1e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>613091252826-vdgnfahgs5599qnp5sqk71rb1j663q7g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnjg6cNRz9ARH7kq54mGlaO5BceZPSTLM</string>
	<key>GCM_SENDER_ID</key>
	<string>613091252826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.churchManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>churchmanagementsystem-699c3</string>
	<key>STORAGE_BUCKET</key>
	<string>churchmanagementsystem-699c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613091252826:ios:1e77c3cda4be86b780d663</string>
	<key>DATABASE_URL</key>
	<string>https://churchmanagementsystem-699c3-default-rtdb.firebaseio.com</string>
</dict>
</plist>